* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroundPrimary: #141414;
    --backgroundNavbar: rgba(20, 20, 20, 0.7);
    --backgroundSecondary: #b6b6b6;
    --backgroundCommon: #888888;
    --fontFamily: "Helvetica Neue";
    --fontColorPrimary: #fff;
    --fontColorSecondary: #f0f0f0;
}

body {
    background-color: var(--backgroundPrimary);
    min-height: 800vh;
    font-family: var(--fontFamily);
}

/* SECTION NAVBAR */

.navbar {
    background-color: var(--backgroundNavbar);
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 32px;
    height: 68px;
    color: var(--fontColorPrimary);
    z-index: 1;
}


.navbar__logo img {
    height: 50px;
}

.navbar__browser {
    display: flex;
    flex: 1 0 auto;
}

.navbar__browser ul {
    list-style: none;
}

.navbar__browser ul li {
    margin-left: 16px;
}

.navbar__logo,.navbar__browser ul {
    display: flex;
    align-items: center;
}

/* END SECTION NAVBAR */

/* SECTION HEADER */

.header {
    position: relative;
    height: 100vh;
    width: 100vw;
    color: var(--fontColorPrimary);
}

.header__video {
    width: 100%;
    height: 100%;
}

.header__video:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.header__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}

.header__info {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 50px;

}

/* END SECTION HEADER */